* {
  font-family: "Liberation Sans", sans-serif;
  line-height: 19pt;
  }
header {
  background-color: #319ab3;
  padding: 4em 0em 3em 8em;
}

h1 {
  color: white;
  font-size: 45pt;
}

.tagline {
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-size: 23pt;
  line-height: 27pt;
}

.header-nav {
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 8rem;
  background-color: lightgray;
}

a:link {
  text-decoration: none;
}

.header-link {
  color: black;
}

section {
  position: static;
  background-color: white;
  float: left;
  width: 45%;
  padding-left: 8rem;
  padding-top: 1.5rem;
  margin-bottom: 5rem;
  font-size: 10pt;
  font-weight: lighter;
}

h3 {
  color: #319ab3;
  font-size: 13pt;
}

.quote {
  margin-top: 2rem;
  font-size: 15pt;
  font-weight: lighter;
  color: #319ab3;
}
.quotesign {
  font-style: italic;
  font-size: 15pt;
  line-height: normal;
  font-weight: lighter;
  color: #319ab3;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

h5 {
  font-size: 15pt;
  margin-bottom: 0;
}

aside{
  position: static;
  font-size: 10pt;
  font-weight: lighter;
  float: right;
  background-color: white;
  width: 25%;
  margin-bottom: 5rem;
  margin-right: 8rem;
}

.aside-image{
  margin-top: 1rem;
  width: 260px;
}

.aside-link{
  margin-top: 1rem;
  color: #319ab3;
}

footer {
  margin-top: 45rem;
  background-color: #393939;
  text-align: center;
  font-size: 12pt;
  font-weight: lighter;
  color: white;
  position: static;
  bottom: 0;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.footer-image{
  margin-left:auto;
  margin-right:auto;
}

.footer-nav {
  color: white;
  font-size: 10pt;
  font-weight: bold;
}

.section-image {
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

nav a {
  padding: .5rem;
  margin: .5rem;
}

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}
